#container {
    margin: 30px auto;
    width: 80%;
}

.left-deck {
    float: left;
}

.right-deck {
    float: right;
}

.mb20 {
    margin-bottom: 20px;
}

.mb15 {
    margin-bottom: 15px;
}

#right-player,
#left-player {
    margin-bottom: 20px;
}

#crossfader {
	float: left;
	margin-top: 500px;
    margin-left: 30px;
    margin-right: 30px;
    width: 25%;
}

.pages {
    margin-top: 15px;
}

.page {
    position: relative;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pages a:hover {
    cursor: pointer;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}

.pages span {
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.ui-slider .ui-slider-handle {
    border: 1px solid #d3d3d3;
    background: #e6e6e6 url("images/ui-bg_glass_75_e6e6e6_1x400.png") 50% 50% repeat-x;
    font-weight: normal;
    color: #555555;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -1.2em;
}

.ui-slider .ui-slider-handle {
    height: 3.2em;
}

.ui-widget-content {
    border: none;
    background: #838383 50% top repeat-x;
    color: #333333;
}

.footer {
    clear: both;
}